.categorias-skeleton {
  display: flex;
  gap: 3rem;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;

  .categoria-skeleton-item {
    height: 45px;
    width: 130px;
    background-color: #e0e0e0;
    border-radius: 15px;
    animation: skeleton-shine 1.5s infinite linear;
  }
}

@keyframes skeleton-shine {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
