.admin-header {
  background-color: #fbd5e5;
  height: 80px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Mayor que el sidebar para estar encima */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
  }

  .user-button {
    background-color: #ffb9cb;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #f89bb5;
    }

    .icon {
      margin-right: 0.5rem;
    }
  }
}
