.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9; // Fondo claro para el formulario
}

.edit-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.form-title {
  text-align: center !important;
  color: #001529;
  margin-bottom: 1rem;
}

.MuiTextField-root {
  margin-bottom: 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cancel-button {
  background-color: #e3e3e3 !important;
  color: #000 !important;
  border: none !important;
  width: 48%;
  text-transform: none !important;

  &:hover {
    background-color: #d6d6d6;
  }
}

.save-button {
  background-color: #fbd5e5 !important;
  color: #000 !important;
  width: 48%;
  text-transform: none !important;
  border-radius: 5px;

  &:hover {
    background-color: #f89bb5;
  }
}

.MuiTextField-root {
  margin-bottom: 1rem;

  .MuiOutlinedInput-root {
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #fbd5e5; // Cambia el color del borde al seleccionar
    }
  }

  .MuiInputLabel-root {
    &.Mui-focused {
      color: #000000; // Cambia el color del texto del label al seleccionar
    }
  }
}

.MuiFormControl-root {
  margin-bottom: 1rem;

  .MuiInputLabel-root {
    &.Mui-focused {
      color: #000000; // Cambia el color del texto del label al seleccionar
    }
  }

  .MuiOutlinedInput-root {
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #fbd5e5; // Cambia el color del borde al seleccionar
    }
  }
}

.MuiSwitch-root {
  .Mui-checked {
    color: #fbd5e5; // Cambia el color del botón deslizante cuando está activado

    .MuiSwitch-thumb {
      color: #fbd5e5; // Cambia el color del círculo del switch
    }

    + .MuiSwitch-track {
      background-color: #fbd5e5; // Cambia el color de la pista cuando está activado
    }
  }

  .MuiSwitch-track {
    background-color: #e0e0e0; // Cambia el color de la pista cuando está desactivado
  }
}

.MuiFormControlLabel-root {
  .MuiFormControlLabel-label {
    color: #000; // Color predeterminado del texto del label

    // Cambia el color del texto del label cuando el switch está activado
    .MuiSwitch-root .Mui-checked ~ & {
      color: #fbd5e5;
    }
  }
}
